@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
#panel_weather {
  width: 100%;
  height: 100%;
  background-color: #263238;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #fff;
}

#panel_weather .widget-container {
  width: 612px;
  height: 412px;
  display: block;
  background-color: #313e45;
  border-radius: 25px;
/*   border: 5px solid #eceff1; */
  margin: 0 auto;
}


/* Widget 4 Quarter Division here */

#panel_weather .top-left {
  height: 60%;
  width: 40%;
  /*   background-color:red; */
  padding: 55px 0 0 40px;
  display: inline-block;
}

#panel_weather .top-right {
  height: 60%;
  width: 50%;
  /*   background-color: blue; */
  float: right;
  padding: 55px 0 0 0;
}

#panel_weather .bottom-left {
  height: 40%;
  width: 40%;
  /*   background-color:orange; */
  float: left;
  margin: 0;
  padding: 40px 0 0 50px;
}

#panel_weather .bottom-right {
  height: 40%;
  width: 40%;
  /*   background-color: brown; */
  float: right;
  padding: 25px 0 0 10px;
}

#panel_weather h1,
#panel_weather h2,
#panel_weather h3,
#panel_weather p {
  margin: 0;
  padding: 0;
}


/* Top-left Div CSS */

#panel_weather #city {
  font-weight: 900;
  font-size: 25px;
}

#panel_weather #day {
  font-weight: 700;
  font-size: 25px;
  margin-top: 18px;
}

#panel_weather #date {
  font-weight: 500;
  font-size: 20px;
  margin-top: 4px;
}

#panel_weather #time {
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}


#panel_weather .top-left > a {
  text-decoration: none;
  color: white;
}

#panel_weather .top-left > a:hover {
  color: #b0bec5;
}


/* Top-Right Div CSS */

#panel_weather #weather-status {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

#panel_weather .top-right > img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 15px auto 0 auto;
}


/* Horizontal-Half-divider */

#panel_weather .horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: #263238;
}

#panel_weather .vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 167px;
  background-color: #263238;
  float: right;
  display: inline-block;
  padding: 0;
}


/* Bottom-left CSS */

#temperature,
#celsius,
#temp-divider,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 60px;
  font-weight: 800;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#fahrenheit {
  margin-right: 5px;
  color: #b0bec5;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}




/* Bottom-Right CSS */

#panel_weather .other-details-key {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

#panel_weather .other-details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}
